<div fxLayout="column" fxFlexFill fxLayoutAlign="center center" style="background-image:url('../../../assets/login11.jpg');
height: 100%;
background-repeat: no-repeat;
background-position: center;
background-size: cover; ">
    <div fxLayout="column" >
   
        <div class=" mat-elevation-z4">
            <mat-card>
                <mat-card-title>User Login
                    <!-- <a class="redirect" [routerLink]="['/sigup']">Register an account</a> -->
                </mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutAlign="start stretch" [formGroup]="userForm" (ngSubmit)="login()">
                        <mat-form-field class="full-width">
                          <input type="text" id="email" class="input" placeholder="Please enter your RASID"
                                 formControlName="RASID" required matInput>
                        </mat-form-field>
                        <div *ngIf="formErrors.RASID" class="help is-danger">
                            {{ formErrors.RASID }}
                        </div>
                        <mat-form-field class="full-width">
                            <input type="password" id="password" class="input" placeholder="Please enter your password"
                            formControlName="password" required matInput>
                        </mat-form-field>
                        <div *ngIf="formErrors.password" class="help is-danger">
                            {{ formErrors.password }}
                        </div>
                        <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid" (click)="login()">Log In</button>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
